@import 'styles/general.scss';

.context {
  width: 100%;
  overflow: hidden;
  background-color: white;
  color: white;
  box-sizing: border-box;
}

.demo-mask {
  justify-content: flex-end;
  position: fixed;
  visibility: hidden;
  opacity: 1;
  z-index: 15;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  img {
    cursor: pointer;
    position: absolute;
    z-index: 20;
    width: 780px;
    height: 800px;
    right: -50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &.show{
    visibility: visible;
    opacity: 1;
    img{
      opacity: 1;
      right: 0;
    }
  }
  &.demo-mask-mobile {
    img {
      width: 375px;
      height: auto;
    }
  }
}