.context {
  width:1440px;
  overflow: hidden;
  background-color: #ffffff;
  color:#ffffff;
}

@media screen and (max-width: 1440px) {
  .context {
    width:1440px;
  }
}

@media screen and (max-width: 1280px) {
  .context {
    width:1280px;
  }
}

@media screen and (max-width: 1024px) {
  .context {
    width:1024px;
  }
}

@media screen and (max-width: 768px) {
  .context {
    width:768px;
  }
}

@media screen and (max-width: 375px) {
  .context {
    width:375px;
  }
}