@import 'styles/general.scss';

$title-font:100px;



.container {
  font-family: Helvetica;
  color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
  box-sizing: border-box;
  background-image: url('/images/ThreatVision/vision_hero_bg.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: 2;


  .title-wrap {
    position: absolute;
    z-index: 3;
    right: 280px;
    top: 269px;

    .title-img {
      width: 560px;
      height: auto;
      margin-bottom: 31px;
    }

    .title-box {
      width: 516px;
      text-align: center;
      padding-left: 64px;

      .title {
        position: relative;
        z-index: 3;
        font-size: 28px;
        margin: 0;
      }

      .light-height {
        position: relative;
        bottom: 14px;
        width: 100%;
        height: 21px;
        background-color: #F5AB1A;
      }
    }
  }

  .img-wrap {
    .left-hero {
      position: absolute;
      top: -272px;
      left: -231px;
      max-width: 710px;
      height: auto;
    }

    .right-up-hero {
      top: -124px;
      right: -90px;
      position: absolute;
      max-width: 548px;
      height: auto;
    }

    .right-down-hero {
      right: -100px;
      bottom: -116px;
      position: absolute;
      max-width: 442px;
      height: auto;
    }

    .mask {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .35);
    }
  }


  // .bubble {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: absolute;
  //   right: 0;
  //   bottom: 20px;
  //   width: 40px;
  //   height: 130px;
  //   border-radius: 4px 0 0 4px;
  //   background-color: $sonar-red;
  //   color: white;
  //   z-index: 3;

  //   p {
  //     transform: rotate(-90deg);
  //     white-space: nowrap;
  //     font-size: 20px;
  //     color: #FFFFFF;
  //   }
  // }
}

@media screen and (max-width: 1440px) {
  .container {
    .title-wrap {
      right: 140px;
    }

    .img-wrap {
      .left-hero {
        left: -468px;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .container {
      .title-wrap {
        right: 112px;

        .title-img {
          width: 480px;
        }

        .title-box {
          width: 440px;
          padding-left: 56px;

          .title {
            font-size: 24px;
          }

          .light-height {
            bottom: 16px;
          }
        }
      }

      .img-wrap {
        .left-hero {
          left: -540px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .container {
      .title-wrap {
        right: 75px;

        .title-img {
          width: 320px;
        }

        .title-box {
          width: 325px;
          padding-left: 0;

          .title {
            font-size: 18px;
          }

          .light-height {
            bottom: 14px;
          }
        }
      }

      .img-wrap {
        .left-hero {
          left: -660px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      .title-wrap {
        right: 50%;
        transform: translate(50%, 0);

        .title-img {
          width: 280px;
        }

        .title-box {
          width: 290px;
          padding-left: 0;

          .title {
            font-size: 16px;
          }

          .light-height {
            bottom: 12px;
          }
        }
      }

      .img-wrap {
        .right-down-hero {
          display: none;
        }

        .right-up-hero {
          top: -154px;
          right: -160px;
        }
      }
    }
  }
}