@import "styles/general.scss";

.tab-container {
  box-sizing: border-box;
}

.tab-wrap {
  max-width: 840px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  bottom: 100%;
  z-index: 2;

  .tab {
    font-family: Helvetica;
    box-sizing: border-box;
    background: #c8bdb8;
    border-style: none;
    border-radius: 12px 12px 0 0;
    text-align: center;
    font-size: 24px;
    color: #4c433f;
    letter-spacing: 0;
    cursor: pointer;
    padding: 25px 40px;
    margin-right: 2px;
    white-space: nowrap;
    font-weight: bold;
    &:focus {
      outline: none;
    }

    &.active {
      background-color: #f5f2e9;
    }
  }
}
.tab-content-hidden{
  opacity: 0;
}
.tab-content-ce,
.tab-content-apac {
  width: 100%;
  display: none;
  &.show{
    display: block;
    animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .title {
    box-sizing: border-box;
    padding: 23px 220px 17px 20px;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #4c433f;
  }

  .context {
    display: flex;
    justify-content: space-between;

    .img-box {
      background: #ffffff;
      border-radius: 6px;
      width: 242px;
      box-sizing: border-box;
      text-align: center;
      padding: 30px 30px 20px 30px;

      .card-title {
        margin: 0;
        font-size: 20px;
        color: #4c433f;
        text-align: center;
        line-height: 1.2;
        font-weight: bold;
        span{
          font-size: 16px;
        }
      }

      img {
        max-width: 180px;
        margin-bottom: 30px;
        height: auto;
      }
    }
  }
}

.tab-content-apac {
  .context {
    .img-box {
      width: 32%;
      padding: 30px 15px 44px;
    }
  }
}

.container {
  font-family: Helvetica;
  position: relative;
  color: white;
  background-color: #f5f2e9;
  font-size: 16px;
  color: #4c433f;
}
.tab-box {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.newswall-container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1000px;
}

.category-container {
  position: relative;
  top: -40px;
  width: 100%;
  z-index: 1;
}

.xgrid-container-left {
  position: absolute;
  top: 600px;
  left: -260px;
  width: 530px;
  height: 230px;
}

.xgrid-container-right {
  position: absolute;
  top: 918px;
  right: -244px;
  width: 518px;
  height: 465px;
}

@media screen and (max-width: 1439px) {
  .xgrid-container-left {
    width: 244px;
    height: 230px;
    left: -60px;
  }

  .xgrid-container-right {
    width: 198px;
    right: 0;
  }
}

@media screen and (max-width: 1279px) {
  .tab-box {
    max-width: 800px;
  }

  .xgrid-container-left {
    left: -40px;
  }

  .xgrid-container-right {
    right: -126px;
  }

  .category-container{
    top: -14px;
  }

  .newswall-container {
    padding: 0 24px 0 100px;
  }

  .tab-wrap {
    max-width: 800px;

    .tab {
      font-size: 20px;
    }
  }

  .tab-content-ce,
  .tab-content-apac {
    width: 100%;

    .title {
      padding: 30px 20px 20px 20px;
    }
  }

  .tab-content-ce {
    .context {
      .img-box {
        width: 196px;
        height: 272px;
        padding: 30px 18px 50px 18px;

        .card-title {
          font-family: Helvetica;
          font-size: 20px;
        }

        img {
          max-width: 120px;
          height: auto;
        }
      }
    }
  }

  .tab-content-apac {
    .context {
      .img-box {
        padding: 30px 18px 20px;

        .card-title {
          font-size: 20px;
        }

        img {
          max-width: 140px;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .xgrid-container-left {
    width: 179px;
    height: 231px;
    left: -88px;
  }

  .xgrid-container-right {
    display: none;
  }

  .tab-box {
    max-width: 682px;
  }

  .newswall-container {
    padding: 0 10px 40px 64px;
  }

  .tab-content-ce,
  .tab-content-apac {
    max-width: 620px;
    width: 100%;

    .title {
      padding: 30px 10px 44px 0;
    }
  }

  .tab-content-ce {
    margin: 0 auto;

    .context {
      flex-wrap: wrap;

      .img-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 48%;
        margin-bottom: 20px;
        padding: 15px;
        height: auto;
        .card-title {
          font-size: 20px;
          text-align: left;
        }

        img {
          max-width: 100px;
          margin: 0 10px 0 0;
        }
      }
    }
  }

  .tab-content-apac {
    margin: 0 auto 76px;

    .context {
      .img-box {
        padding: 30px 15px;

        .card-title {
          font-size: 20px;
        }

        img {
          max-width: 140px;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tab-container {
    .tab-wrap {
      .tab {
        white-space: pre-wrap;
        text-align: left;
        padding: 18px 20px;

        span {
          display: block;
        }
      }
    }

    .tab-content-ce,
    .tab-content-apac {
      max-width: 375px;
      width: 100%;
      margin: 0 auto;

      .title {
        padding: 30px 20px;
        font-size: 16px;
        line-height: 24px;
      }

      .context {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        .img-box {
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding:30px 20px;

          img {
            max-width: 100px;
            margin-right: 15px;
            margin-bottom: 0;
            height: auto;
          }

          .card-title {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
          }
        }

        > :not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .tab-box {
    max-width: none;
  }

  .category-container {
    top: 86px;
  }

  .newswall-container {
    padding: 0 10px 0 0;
  }

  .xgrid-container-left,
  .xgrid-container-right {
    display: none;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}