@import "styles/general.scss";

$info-section-height: 3030px;

.tab-container {
  width: 100%;
  box-sizing: border-box;

  .tab-wrap {
    width: 840px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .tab {
      width: 349px;
      height: 70px;
      box-sizing: border-box;
      background: #c8bdb8;
      border-style: none;
      border-radius: 12px 12px 0 0;
      font-family: Helvetica;
      text-align: center;
      font-size: 24px;
      color: #4c433f;
      letter-spacing: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &.active {
        background-color: #f5f2e9;
      }
    }

    .tab-long {
      width: 486px;
    }
  }

  .tab-content-ce,
  .tab-content-apac {
    width: 100%;

    .title {
      box-sizing: border-box;
      padding: 23px 220px 17px 20px;
      font-size: 18px;
      line-height: 1.5;
      color: #4c433f;
    }

    .context {
      display: flex;
      justify-content: space-between;

      .img-box {
        background: #ffffff;
        border-radius: 6px;
        width: 242px;
        box-sizing: border-box;
        text-align: center;
        padding: 30px 30px 20px 30px;

        .card-title {
          margin: 0;
          font-size: 20px;
          color: #4c433f;
          text-align: center;
          line-height: 32px;
        }

        img {
          max-width: 180px;
          height: auto;
        }
      }
    }
  }

  .tab-content-ce {
    .context {
      display: flex;
      justify-content: space-between;

      .img-box {
        width: 242px;
        padding: 30 30px 20px 30px;
      }
    }
  }

  .tab-content-apac {
    .context {
      display: flex;
      justify-content: space-between;

      .img-box {
        width: 320px;
        height: 300px;
        padding: 30px 70px;
      }
    }
  }
}

.container {
  font-family: Helvetica;
  position: relative;
  width: 100%;
  height: $info-section-height;
  margin: 0 auto;
  color: white;
  background-color: #f5f2e9;
  font-size: 16px;
  color: #4c433f;

  .tab-box {
    width: 1000px;
    position: absolute;
    top: -72px;
    left: calc((100% - 1000px) / 2);
    z-index: 5;
  }

  .newswall-container {
    position: absolute;
    z-index: 2;
    margin: 0 calc((100% - 1000px) / 2);
    top: 474px;
    width: 1000px;
  }

  .category-container {
    position: absolute;
    width: 100%;
    z-index: -2;
    padding-top: 42px;
    top: 1343px;
    z-index: 1;
  }

  .xgrid-container-left {
    position: absolute;
    top: 652px;
    left: 0;
    width: 530px;
    height: 230px;
  }

  .xgrid-container-right {
    position: absolute;
    top: 976px;
    right: 0;
    width: 518px;
    height: 465px;
  }
}

.container.container-en {
  .category-container {
    padding-top: 42px;
    top: 1390px;
  }
}

// .bubble {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   right: 0;
//   bottom: 20px;
//   width: 40px;
//   height: 130px;
//   border-radius: 4px 0 0 4px;
//   background-color: $sonar-red;
//   color: white;
//   z-index: 3;

//   p {
//     transform: rotate(-90deg);
//     white-space: nowrap;
//     font-size: 20px;
//     color: #FFFFFF;
//   }
// }
// }

@media screen and (max-width: 1440px) {
  .container {
    .xgrid-container-left {
      width: 244px;
      height: 230px;
    }

    .xgrid-container-right {
      width: 198px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    height: 2983px;

    .tab-box {
      width: 800px;
      left: calc((100% - 800px) / 2);
    }
  }

  .tab-container {
    .tab-wrap {
      width: 800px;
      justify-content: flex-start;

      .tab {
        width: 284px;
        font-size: 20px;
      }

      .tab-long {
        width: 399px;
      }
    }

    .tab-content-ce,
    .tab-content-apac {
      width: 100%;

      .title {
        padding: 30px 20px 20px 20px;
      }
    }

    .tab-content-ce {
      .context {
        .img-box {
          width: 196px;
          height: 272px;
          padding: 30px 18px 50px 18px;

          .card-title {
            font-family: Helvetica;
            font-size: 20px;
          }

          img {
            max-width: 120px;
            height: auto;
          }
        }
      }
    }

    .tab-content-apac {
      .context {
        .img-box {
          width: 260px;
          height: 272px;
          padding: 30px 18px 50px 18px;

          .card-title {
            font-size: 20px;
          }

          img {
            max-width: 140px;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 2710px;

    .category-container {
      padding-top: 0;
      top: 1392px;
    }

    .xgrid-container-left {
      width: 179px;
      height: 231px;
    }

    .xgrid-container-right {
      display: none;
    }

    .tab-box {
      width: 682px;
      left: calc((100% - 682px) / 2);
    }

    .newswall-container {
      position: absolute;
      height: 937px;
      z-index: 2;
      margin: 0 calc((100% - 620px) / 2);
      top: 460px;
      width: 620px;
    }
  }

  .tab-container {
    .tab-wrap {
      width: 682px;
      justify-content: flex-start;

      .tab {
        width: 284px;
        font-size: 20px;
      }

      .tab-long {
        width: 399px;
      }
    }

    .tab-content-ce,
    .tab-content-apac {
      width: 620px;

      .title {
        padding: 30px 10px 44px 0;
      }
    }

    .tab-content-ce {
      width: 620px;
      margin: 0 auto;

      .context {
        flex-wrap: wrap;

        .img-box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 130px;
          margin-bottom: 20px;

          .card-title {
            font-size: 20px;
            margin-left: 5px;
          }

          img {
            max-width: 100px;
            margin-right: 5px;
            height: auto;
          }
        }
      }
    }

    .tab-content-apac {
      width: 620px;
      margin: 0 auto;

      .context {
        .img-box {
          width: 200px;
          height: 282px;
          padding: 30px 30px 40px 30px;

          .card-title {
            font-size: 20px;
          }

          img {
            max-width: 140px;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tab-container {
    .tab-wrap {
      width: 375px;

      .tab {
        width: 160px;
      }

      .tab-long {
        width: 210px;
      }
    }

    .tab-content-ce,
    .tab-content-apac {
      width: 375px;
      margin: 0 auto;

      .title {
        padding: 30px 21px 37px 25px;
        font-size: 16px;
        line-height: 24px;
      }

      .context {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-box {
          width: 315px;
          height: 130px;
          text-align: left;
          padding: 15px 0 15px 15px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          img {
            max-width: 100px;
            margin-right: 5px;
            height: auto;
          }

          .card-title {
            font-size: 18px;
          }
        }

        > :not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .container {
    height: 3300px;

    .tab-box {
      width: 375px;
      left: calc((100% - 375px) / 2);
      top: -2.1%;
    }

    .category-container {
      height: 1918px;
      top: 1600px;
    }

    .newswall-container {
      position: absolute;
      z-index: 2;
      margin: 0 calc((100% - 375px) / 2);
      top: 751px;
      width: 375px;
    }

    .xgrid-container-left,
    .xgrid-container-right {
      display: none;
    }
  }
}
