.container {
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  font-family: Helvetica;
  background-color: #ffffff;

  .card:nth-of-type(1),
  .card:nth-of-type(3) {
    flex-direction: row-reverse;

    &::before {
      background-color: #f0eff0;
      position: absolute;
      z-index: -2;
      content: "";
      right: 0;
      left: 0;
      height: 755px;
    }
  }

  .card:nth-of-type(1) {
    &::before {
      background: #ece8e0;
      clip-path: polygon(0 0, 100% 0, 100% 51%, 0% 75%);
    }
  }

  .card:nth-of-type(2) {
    margin: 10% 0;
  }


  .card:nth-of-type(3) {
    margin-top: -2%;
    padding-bottom: 5%;

    &::before {
      top: -14%;
      background: #645a53;
      clip-path: polygon(0 0%, 100% 9%, 100% 89%, 0% 100%);
    }
  }

  .card:nth-of-type(1) .context {
    padding-top: 78px;
  }

  .card:nth-of-type(2) .context {
    padding-top: 35px;
  }

  .card:nth-of-type(3) .context {
    padding-top: 9px;

    .title {
      color: #ffffff;
    }

    ul {
      .list {
        color: #ffffff;
      }
    }
  }

  .card {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    padding: 0 calc((100% - 1000px) / 2);

    .image-wrap {
      width: 480px;
      height: 400px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .context {
      width: 456px;

      .title {
        font-size: 32px;
        color: #4c433f;
      }

      ul {
        padding-left: 0;

        .list {
          font-size: 20px;
          line-height: 1.5;
          color: #4c433f;
          list-style-position: inside;
        }

        .list:not(:last-child) {
          margin-bottom: 14px;
        }
      }

      .tags {
        font-size: 16px;
        color: #f5ab1a;
        line-height: 28px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    .card {
      padding: 0 calc((100% - 800px) / 2);

      .image-wrap {
        width: 360px;
        height: 300px;
      }

      .context {
        width: 356px;

        .title {
          font-size: 32px;
          color: #4c433f;
        }

        ul {
          .list {
            font-size: 20px;
            line-height: 28px;
            list-style-position: inside;
          }
        }
      }
    }

    .card:nth-of-type(1) {
      padding-top: 5%;

      &::before {
        top: -10%;
      }
    }

    .card:nth-of-type(2) {
      margin: 160px 0;
      padding-top: 5%;
    }

    .card:nth-of-type(1) .context {
      padding-top: 0;
    }

    .card:nth-of-type(2) .context {
      padding-top: 0;
    }

    .card:nth-of-type(3) .context {
      padding-top: 0;
    }

    .card:nth-of-type(3) .image-wrap {
      padding-top: 48px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .card {
      padding: 0 74px;

      .image-wrap {
        width: 288px;
        height: 249px;
      }

      .context {
        .title {
          margin: 0;
        }

        ul {
          .list {
            font-size: 18px;
            line-height: 1.5;
          }
        }
      }
    }

    .card:nth-of-type(1) {
      margin-bottom: 175px;
      padding-top: 90px;

      &::before {
        top: -20px;
      }
    }

    .card:nth-of-type(2) {
      margin: 160px 0;
    }


    .card:nth-of-type(3) {
      padding-top: 4%;

      &::before {
        top: -120px;
      }
    }

    .card:nth-of-type(1),
    .card:nth-of-type(2) {
      .context {
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {

    .card {
      padding: 0 30px;
      flex-direction: column-reverse;
      align-items: center;

      .image-wrap {
        width: 288px;
        height: 240px;
      }

      .context {
        width: 375px;

        .title {
          font-size: 24px;
        }

        ul {
          .list {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }

    .card.card-en {

      &:nth-of-type(3) {
        padding-top: 4%;

        .image-wrap {
          padding-top: 0
        }

        &::before {
          top: -150px;
          height: 1200px;
        }
      }
    }

    .card:nth-of-type(1) {
      align-items: center;
      padding-top: 0;
      flex-direction: column-reverse;
      margin-bottom: 20px;
      padding: 5% 0;

      &::before {
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 55%);
        height: 950px;
        top: 0;
      }
    }

    .card:nth-of-type(2) {
      margin: 0;
      padding-bottom: 15%;
      padding-top: 15%;
    }

    .card:nth-of-type(3) {
      align-items: center;
      flex-direction: column-reverse;
      padding-top: 15%;

      &::before {
        top: -120px;
        clip-path: polygon(0 8%, 100% 15%, 100% 100%, 0% 100%);
        height: 900px;
      }
    }

    .card:nth-of-type(1),
    .card:nth-of-type(2) {
      .context {
        padding-top: 0;
      }
    }
  }
}