.container {
  box-sizing: border-box;
  width: 100%;
  font-family: Helvetica;
  color: #4c433f;

  .title {
    font-size: 48px;
  }

  .dialog-box {
    height: 942px;

    div:nth-of-type(2) {
      margin-left: 128px;
    }

    div:nth-of-type(3) {
      margin-right: 418px;
    }

    div:nth-of-type(4) {
      margin-left: 190px;
      margin-right: 220px;
    }

    div:nth-of-type(5) {
      margin-left: 260px;
      margin-right: 50px;
    }

    div:nth-of-type(6) {
      margin-left: 30px;
      margin-right: 390px;
    }

    .dialog {
      box-sizing: border-box;
      white-space: pre-wrap;
      display: inline-block;
      box-sizing: border-box;
      background: #ffffff;
      border: 4px solid #4c433f;
      border-radius: 70px;
      padding: 30px 80px;
      margin-bottom: 20px;
      height: 140px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .container {
  }
}

@media screen and (max-width: 1280px) {
  .container {
    .dialog-box {
      height: 942px;

      div:nth-of-type(1) {
        margin-left: -25px;
        position: relative;
      }

      div:nth-of-type(2) {
        margin-left: 128px;
      }

      div:nth-of-type(3) {
        margin-right: 282px;
      }

      div:nth-of-type(4) {
        margin-left: 221px;
        margin-right: 274px;
      }

      div:nth-of-type(5) {
        margin-left: 301px;
        margin-right: 34px;
      }

      div:nth-of-type(6) {
        margin-left: 141px;
        margin-right: 304px;
      }

      .dialog {
        white-space: pre-wrap;
        display: inline-block;
        box-sizing: border-box;
        background: #ffffff;
        border: 4px solid #4c433f;
        border-radius: 70px;
        padding: 30px 80px;
        margin-bottom: 20px;
        height: 140px;
        font-size: 24px;
        color: #4c433f;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    .title {
      font-size: 30px;
    }

    .dialog-box {
      height: 942px;

      div:nth-of-type(1) {
        margin-left: 20px;
      }

      div:nth-of-type(2) {
        position: relative;
        margin-left: -50px;
      }

      div:nth-of-type(3) {
        position: relative;
        margin-left: -16px;
      }

      div:nth-of-type(4) {
        margin-left: 106px;
        margin-right: 0;
      }

      div:nth-of-type(5) {
        position: relative;
        margin-left: -16px;
      }

      div:nth-of-type(6) {
        position: relative;
        margin-left: -16px;
      }

      .dialog {
        height: 120px;
        font-size: 20px;
        padding: 30px 50px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .title {
      font-size: 28px;
      padding-left: 30px;
    }

    .dialog-box {
      height: 732px;

      div:nth-of-type(1) {
        margin-left: 30px;
        margin-right: 0;
      }

      div:nth-of-type(2) {
        margin-left: 10px;
        margin-right: 0;
      }

      div:nth-of-type(3) {
        margin-left: 30px;
        margin-right: 0;
      }

      div:nth-of-type(4) {
        margin-left: 10px;
        margin-right: 0;
      }

      div:nth-of-type(5) {
        margin-left: 15px;
        margin-right: 0;
      }

      div:nth-of-type(6) {
        margin-left: 20px;
        margin-right: 0;
      }

      .dialog {
        border: 2px solid #4c433f;
        border-radius: 62px;
        font-size: 16px;
        height: 105px;
        margin-right: 0;
        padding: 14px 60px;
      }
    }
  }
}
