@import 'styles/general.scss';

.sonar-triangle-container {
  width: 100%;

  .triangle-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  svg {
    width: 1481px;
    transform: translate(50%, 3px);

    g {
      transition: transform 0.5s;

      &.origin {
        transform: translate(0, 100%);
      }

      &.finished {
        transform: translate(0, 0);
      }
    }

    .triangle {
      stroke: none;
      fill: $sonar-red;
    }
  }
}
@media screen and (max-width: 1440px ), screen and (min-width: 1440px) {
}

@media screen and (max-width: 1024px) {
  // .sonar-triangle-container {
  //   transform: translateX(-218px);
  // }
  .sonar-triangle-container {
    svg {
      transform: translate(calc(50% + 143px), 3px);
    }
  }
}

@media screen and (max-width: 768px) {
  .sonar-triangle-container {
    .triangle-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }

    svg {
      transform: translate(169px, 3px);
    }
  }
}