@import 'styles/general.scss';
.loading-mask {
  position: fixed;
}

.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .main {
    width: 100%;
    position: relative;
    flex: 1 0;
    overflow: auto;
  }
}

@media screen and (max-width: 375px) {
  .base-layout {
    .main {
      width: 375px;
    }
  }
}