@import 'styles/general.scss';

.container,
.container>* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 58px;
    font-family: Helvetica;
    font-size: 16px;
    color: #4C433F;
    position: relative;

    .card-reverse:nth-of-type(1),
    .card-reverse:nth-of-type(3) {
        &::before {
            background-color: #F0EFF0;
            position: absolute;
            content: '';
            right: 0;
            left: 0;
            height: 755px;
        }
    }

    .card-reverse:nth-of-type(1) {
        &::before {
            background: #F0EFF0;
            clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
        }
    }

    .card-reverse:nth-of-type(3) {
        &::before {
            background: #F0EFF0;
            clip-path: polygon(0 0, 100% 25%, 100% 79%, 0% 100%);
        }
    }

    .card,
    .card-reverse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
        height: 400px;
        margin: 0 auto 200px;

        img {
            max-width: 480px;
            height: auto;
            z-index: 1;
        }

        .content {
            width: 420px;
            z-index: 1;

            .title {
                font-size: 32px;
                color: #24231F;
                line-height: 48px;
                margin-bottom: 0 0 36px 0;
            }

            .text {
                font-size: 20px;
                color: #24231F;
                line-height: 28px;
                margin: 0;
            }
        }
    }

    .card-reverse {
        flex-direction: row-reverse;
    }
}




@media screen and (max-width: 1280px) {
    .container {
        padding-top: 0;
        padding-bottom: 0;

        .card-reverse:nth-of-type(1),
        .card-reverse:nth-of-type(3) {
            &::before {
                height: 675px;
            }
        }

        .card,
        .card-reverse {
            width: 800px;
            margin-bottom: 110px;

            img {
                max-width: 360px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {

        .card-reverse:nth-of-type(1),
        .card-reverse:nth-of-type(3) {
            &::before {
                height: 570px;
            }
        }

        .card,
        .card-reverse {
            width: 620px;
            margin-bottom: 90px;

            img {
                max-width: 276px;
            }

            .content {
                width: 314px;

                .title {
                    font-size: 24px;
                }

                .text {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {

        .card-reverse:nth-of-type(1),
        .card-reverse:nth-of-type(3) {
            &::before {
                height: 580px;
            }
        }

        .card,
        .card-reverse {
            width: 315px;
            margin-bottom: 60px;
            flex-direction: column-reverse;
            justify-content: flex-start;

            img {
                max-width: 276px;
            }

            .content {
                width: 314px;
                margin-bottom: 20px;

                .title {
                    font-size: 22px;
                }

                .text {
                    font-size: 16px;
                }
            }
        }
    }
}