@import 'styles/general.scss';

.container,
.container>* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 16px;
    color: #FFF;
    background-color: #24231F;
    position: relative;

    .top {
        width: 730px;
        margin: 0 auto 144px auto;
        padding-top: 50px;
        text-align: center;

        .title {
            // margin-bottom: 123px;
            font-size: 60px;
        }
        .border{
            height: 123px;
            border-style: solid;
            border-width: 0px 3px 0px 0px;
            border-image: url('/images/white-border.svg') 6 4 11 3 repeat round;
            width: 0;
            margin: 0 auto;
        }
        .slogan-title-wrap {
            text-align: center;
            position: relative;
            // &::before{
            //     display: block;
            //     content: '';
            //     border: none;
            //     position: absolute;
            //     border-top: 1px dashed #fff;
            //     top: -90%;
            //     left: 50%;
            //     color: #fff;
            //     height: 2px;
            //     width: 100px;
            //     transform: rotate(90deg) translate(0, 50px);
            // }

            .slogan-title {
                font-size: 32px;
                position: relative;
                z-index: 1;
                margin: 0;
            }

            .slogan-title-highlight {
                position: relative;
                bottom: 20px;
                margin: 0 auto;
                width: 360px;
                height: 20px;
                background-color: #D40B26;
            }

        }

        .slogan-context {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            margin: 0;
            // &::after{
            //     display: block;
            //     content: '';
            //     border: none;
            //     position: absolute;
            //     border-top: 1px dashed #fff;
            //     top: 29%;
            //     left: 50%;
            //     color: #fff;
            //     height: 2px;
            //     width: 100px;
            //     transform: rotate(90deg) translate(0, 50px);
            // }
        }
    }

    .bottom {
        width: 1000px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            display: flex;
            width: 495px;
            height: 240px;
            padding: 0 25px 0 20px;
            display: flex;
            font-size: 16px;
            color: #4C433F;
            align-items: center;
            justify-content: space-between;
            background: #FFFFFF;
            border-radius: 6px;
            margin-bottom: 10px;
            box-sizing: border-box;

            .img-wrap {
                width: 140px;
                height: 140px;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .context {
                width: calc(100% - 140px - 45px);
                margin-left: 20px;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title {
                    margin: 0 0 10px 0;
                    font-size: 16px;
                }

                .lists {
                    padding-left: 20px;
                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 0;

                    & :not(:last-child) {
                        margin-bottom: 10px
                    }
                }
            }
        }
    }

    .rect1 {
        position: absolute;
        width: 460px;
        height: 362px;
        left: 0;
        top: 0;
    }

    .rect2 {
        position: absolute;
        width: 426px;
        height: 226px;
        right: 0;
        top: 292px;
    }
}



@media screen and (max-width: 1440px) {
    .container {
        .rect1 {
            width: 140px;
        }

        .rect2 {
            width: 225px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        padding-bottom: 102px;

        .top {
            margin: 0 auto 130px auto;

            // .title {
                // margin-bottom: 119px;
            // }
            .border{
                height: 119px;
            }
        }

        .bottom {
            flex-direction: column;
            align-items: center;
            width: 800px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .card {
                justify-content: flex-start;
                width: 600px;

                .img-wrap {
                    width: 160px;
                    height: 160px;
                }

                .context {
                    width: calc(100% - 310px);
                    margin-left: 30px;

                    .title {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding-bottom: 102px;

        .top {
            width: 600px;

            .title {
                // margin-bottom: 110px;
                font-size: 40px;
            }
            .border{
                height: 110px;
            }
            .slogan-context {
                font-size: 18px;
            }
        }

        .bottom {
            width: 600px;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .card {
                justify-content: flex-start;
                width: 600px;

                .img-wrap {
                    width: 160px;
                    height: 160px;
                }

                .context {
                    width: calc(100% - 310px);
                    margin-left: 30px;

                    .title {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .rect1,
        .rect2 {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-bottom: 102px;

        .top {
            width: 295px;
            margin-bottom: 100px;

            .title {
                // margin-bottom: 90px;
                font-size: 30px;
            }
            .border{
                height: 90px;
            }
            .slogan-title-wrap {
                .slogan-title {
                    font-size: 24px;
                }

                .slogan-title-highlight {
                    width: 275px;
                    height: 20px;
                }

            }

            .slogan-context {
                font-size: 16px;
            }
        }

        .bottom {
            width: 315px;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .card {
                flex-direction: column;
                width: 315px;
                height: auto;
                padding: 15px 15px 20px 15px;
                align-items: center;

                .img-wrap {
                    width: 100px;
                    height: 100px;
                }

                .context {
                    width: 100%;
                    margin-left: 0;

                    .title {
                        font-size: 18px;
                        margin-bottom: 7px;
                        text-align: center;
                    }

                    .lists {
                        width: 220px;
                        padding-left: 20%;
                        list-style: inside;
                        font-size: 16px;
                    }
                }
            }
        }

        .rect1,
        .rect2 {
            display: none;
        }
    }
}